:root {
    --light-text-colour: #fff;
    --footer-colour: #353535;
    --main-colour: antiquewhite;
    --secondary-colour: white;
    --link-colour: #074f8d;
    --link-hover-colour: #AF5BAB;
    --button-colour: #f56a6a;
    --button-hover-colour: #d3d3d3;

    --font-small: 0.75rem;
    --font-regular: 1.05rem;
    --font-medium: 1.15rem;
    --font-large: 2.25rem;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: var(--font-regular);
    overflow-x: hidden;
    position: relative;
    font-family: 'Exo', sans-serif;
}

header {
    font-size: var(--font-large);
}

#navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    border-right: black 2px solid;
    border-bottom: black 2px solid;
    background-image: url(./images/background_light.png);
}

.hidden {
    display: none;
}

#navbar header {
    text-align: center;
}

.navlinks {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

#contents {
    display: none;
    border: none;
    background-color: transparent;
    font-size: var(--font-regular);
    color: var(--link-colour);
    font-family: 'Exo', sans-serif;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}

#contents::before {
    background: url(./images/triangle.svg);
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 6px;
    transform: rotate(90deg);
    transform-origin: 50%;
    transition: transform .2s ease-in;
}

#contents[aria-expanded=true]::before {
    transform: rotate(180deg);
}

.navlinks a {
    text-decoration: none;
    margin-bottom: 10px;
    padding: 10px 20px;
    color: var(--link-colour);
    transition: transform 100ms ease-in-out;
}

.navlinks a:hover {
    transform: translateX(10px);
    text-decoration: underline;
}

.navlinks-mobile {
    background-color: var(--secondary-colour);
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.navlinks-mobile.hidden {
    display: none;
}

#main-doc {
    margin-left: 310px;
}

section {
    margin-bottom: 40px;
}

code {
    background-color: var(--footer-colour);
    padding: 10px;
    color: var(--light-text-colour);
    font-family: "consolas", sans-serif;
    display: block;
}

footer {
    color: var(--light-text-colour);
    background-color: var(--footer-colour);
    font-size: var(--font-small);
    min-height: 10vh;
    margin-left: 300px;
}

footer a {
    color: var(--button-colour);
}

footer a:hover {
    color: var(--link-hover-colour);
}

.container {
    padding: 20px;
}

@media (max-width: 400px) {
    #navbar {
        position: initial;
        width: 100%;
    }

    #main-doc,
    footer {
        margin-left: 0;
    }

    #contents {
        display: block;
    }

    .navlinks {
        display: none;
    }

    .navlinks-mobile {
        display: flex;
        position: absolute;
    }
}